@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --primaryColor: #455d7a;
    --mainWhite: #ffffff;
    --mainBlack: #233142;
    --mainGreen: #f95959;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* ---------------- scroll bar ---------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-track {
    background: var(--mainWhite);
    border-radius: 4px;
    margin: 3px 0;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #e1e1e1;
}

.container-fluid{
  display: flex;
  flex-direction: column;  
}

.nav-link{
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.cart{
  display: flex;
  justify-content: flex-end;
  height: 30px;
  font-size: 30px;
  width: 100%;
  
}
.logo{
  width: 150px;
}

.spinnerInside{
  height: 100vh;
  display: flex;
  display: flex;
  align-items: center;
}

.banner{
  background-color: rgb(201, 161, 109);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 157px;
  margin-right: 143px;
  text-align: center;
  font-family: "HM Sans Semi Bold","HMSansHebrew-SemiBold","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  line-height: 1.166666667;
  font-size: 1.5rem;
  color: white;
  padding: 2%;
  margin-bottom: 15px;
}


.title, .subTitle{
  font-weight: bolder;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.container a{
  color: black;
  text-decoration: none;
}
.card{
  width: 300px;
  border: none;
  padding-bottom: 30px;
}
.card img{
  width: 317px;
}

.card-title h3, h4{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  color: black;
  font-weight: 600;


}
.card-title h4:hover{
  text-decoration: underline;
}
.view-btn a{
  color: black;
  font-size: 15px;
  
}
.view-btn{
  margin-top: -10px;
}


footer{
  background: #e4e4e4;  
  

}

footer li{
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  
}


.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  }
  
  .menu { 
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .menu h2{
    font-weight: bolder;
  }
  .content { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

  .footerImg { 
    grid-area: 1 / 3 / 2 / 4; 
    width: 200px;
  }

.links{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #233142;
  text-decoration: none;
  
}

.anchors{
  text-decoration: none;
  color: #233142;
  width: 30px;
  height: 30px;
  margin: 10px;
}


footer small{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}









  .spinner{
 
     align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--primaryColor);
    animation: spin 1s  ease infinite;
    
  }

  @keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }